html{
    background-color: #c81a25;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

section,
footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}

.title-section{
    font-size: 30px;
    text-transform: uppercase;
    background-color: #c81a25;
    color: #fff;
    text-align: center;
    line-height: 10vh;
    height: 10vh;
}

.title-section:first-of-type{
    margin-top: 0px;
}



@media screen and (max-width: 767px){
    body{
        padding: 0px;
        background-position-y: -200px;
    }
    
    header,
    section,
    footer{
        max-width: 1440px;
        margin: 0 auto;
        background-color: #fff;
        margin-top: 5px;
    }

    .title-section {
        font-size: 23px;
    }
}