body{
    padding: 15px;
}

.title-section{
    font-size: 30px;
    text-transform: uppercase;
    background-color: #c81a25;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

@media (max-width: 767px){
    body{
        padding: 0;
    }    
}