html{
    background-color: #c81a25;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../img/banner-header.jpg");
    background-size: 100% 800px;
    background-position-y: -150px;
    background-repeat: no-repeat;
}

section,
footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 25px;
}

.title-section{
    font-size: 30px;
    text-transform: uppercase;
    background-color: #c81a25;
    color: #fff;
    text-align: center;
}

.title-section:first-of-type{
    margin-top: 0px;
}

@media (max-width: 767px){
    body{
        padding: 0px;
        background-position-y: -200px;
    }
    
    header,
    section,
    footer{
        max-width: 1440px;
        margin: 0 auto;
        background-color: #fff;
        margin-top: 5px;
    }
}