.section-about{
    text-align: center;
}

.section-about .about-card{
    border: 5px solid #333;
    width: 300px;
    height: 350px;
    display: inline-block;
    margin: 10px;
    margin-top: 40px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.section-about .about-card:hover{
    border: 5px solid #c81a25;
}

.section-about .card-img{
    margin-top: 10px;
    width: 150px;
}

.section-about .card-desc{
    text-align: justify;
    text-indent: 10px;
    padding: 0 10px;
    font-size: 18px;
}

.section-about .-more{
    display: block;
    max-width: 50px;
    font-size: 80px;
    transform: rotateZ(90deg);
    position: absolute;
    bottom: -22px;
    left: 45%;
}

.section-about .about-card:hover .-more{
    color: #c81a25;
    font-size: 100px;
    bottom: -30px;
    left: 44%;
}

@media (max-width: 1027px){
    .section-about .about-card{
        border: 5px solid #333;
        width: 220px;
        height: 350px;
        display: inline-block;
        margin: 5px;
        margin-top: 20px;
    }

    .section-about .card-desc{
        height: 130px;
        overflow: hidden;
    }
}

@media (max-width: 991px){
    .section-about .about-card{
        border: 5px solid #333;
        margin: 5px;
        margin-top: 20px;
    }
}

@media (max-width: 767px){
    .section-about .about-card{
        border: 5px solid #333;
        width: 80%;
        margin: 5px;
        margin-top: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 462px){
    .section-about .about-card{
        width: 90%;
    }
}