.section-slider{
    position: relative;
    display: block;
    margin: 0 auto;
}

.section-slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 20;
}

.section-slider .slick-prev{
    left: 10px;
}

.section-slider .slick-next{
    right: 10px;
}

.section-slider .single-item-rtl{
    margin: 0 auto;
    width: 100vw;
    max-width: 1032px;
    max-height: 100vh;
}

.section-slider .single-item-rtl img{
    width: 100vw;
}

.section-slider button{
    background-color: rgba( 255, 255, 255,0.3);
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
    outline-color: transparent;
    opacity: 0.5;
}

.section-slider button:hover{
    opacity: 1;
}

.section-slider button > i{
    transition-duration: 98.7ms;
        -o-transition-duration: 98.7ms;
        -moz-transition-duration: 98.7ms;
        -webkit-transition-duration: 98.7ms; 
}

.section-slider button:focus > i{
    color: inherit;
    opacity: 0.5;
}