.section-about{
    text-align: center;
    padding-bottom: 40px !important;
}

.section-about .about-card{
    border: 5px solid #333;
    width: 300px;
    height: 350px;
    display: inline-block;
    margin: 10px;
    margin-top: 40px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    vertical-align: top;
}

.section-about .about-card:hover{
    border: 5px solid #c81a25;
}

.section-about .card-img{
    margin-top: 10px;
    width: 150px;
}

.section-about .fas.fa-medal,
.section-about .fas.fa-users,
.section-about .fas.fa-handshake{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 100px;
    margin-bottom: 10px;
}

.section-about .card-title{
    font-size: 22px;
    color: #c81a25;
    font-family: "Staatliches", sans-serif;
}

.section-about .card-desc{
    text-align: justify;
    text-indent: 10px;
    padding: 0 10px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.section-about .fas.fa-angle-double-down{
    position: absolute;
    bottom: 5px;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;

    transition-duration: 198.7ms;
        -o-transition-duration: 198.7ms;
        -moz-transition-duration: 198.7ms;
        -webkit-transition-duration: 198.7ms;
}

.section-about .about-card:hover .fas.fa-angle-double-down{
    color: #c81a25;

    transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
}

.section-about .desc-toggle{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    padding: 10px 25px;
    background: #333;
    color: white;
    text-align: left;
    font-size: 18px;
    border-radius: 20px;
}

.-hidden{
    display: none;
}

@media (max-width: 1027px){
    .section-about .about-card{
        border: 5px solid #333;
        width: 220px;
        height: 350px;
        display: inline-block;
        margin: 5px;
        margin-top: 20px;
    }

    .section-about .card-desc{
        margin-top: 10px;
        height: 160px;
        overflow: hidden;
    }

    .section-about .desc-toggle{
        width: 670px;
    }
}

@media (max-width: 991px){
    .section-about .about-card{
        border: 5px solid #333;
        margin: 5px;
        margin-top: 20px;
    }
}

@media (max-width: 767px){
    .section-about .about-card{
        border: 5px solid #333;
        margin: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        height: auto;
        width: 150px;
    }

    .section-about .fas.fa-medal, 
    .section-about .fas.fa-users, 
    .section-about .fas.fa-handshake{
        font-size: 70px;
    }

    .section-about .card-title,
    .section-about .card-desc{
        display: none;
    }
    
    .section-about .desc-toggle{
        width: 450px;
    }
}

@media (max-width: 562px){
    .section-about .about-card{
        border: 5px solid #333;
        margin: 5px;
        margin-top: 20px;
        margin-right: 10px;
        height: auto;
        width: 100px;
    }

    .section-about .fas.fa-medal, 
    .section-about .fas.fa-users, 
    .section-about .fas.fa-handshake{
        font-size: 50px;
    }

    .section-about .desc-toggle{
        width: 300px;
    }

}

@media (max-width: 462px){
    .section-about .about-card{
        border: 5px solid #333;
        margin: 5px;
        margin-top: 20px;
        margin-right: 10px;
        height: auto;
        width: 100px;
    }

    .section-about .fas.fa-medal, 
    .section-about .fas.fa-users, 
    .section-about .fas.fa-handshake{
        font-size: 40px;
    }

    .section-about .desc-toggle{
        width: 270px;
    }

}