.section-slider{
    position: relative;
    display: block;
    margin: 0 auto;
}

.section-slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 20;
}

.section-slider .slick-prev{
    left: 10px;
}

.section-slider .slick-next{
    right: 10px;
}


.section-slider .slick-prev i{
    transform: translateY(-5px) translateX(-4px) !important;
        -webkit-transform: translateY(-5px) translateX(-4px) !important;
}

.section-slider .slick-next i{
    transform: translateY(-5px) translateX(4px) !important;
        -webkit-transform: translateY(-5px) translateX(4px) !important;
}

.section-slider .single-item-rtl{
    margin: 0 auto;
    max-width: 1440px;
}

.section-slider .single-item-rtl img{
    width: 100vw;
}

.section-slider button{
    background-color: #c81a25;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
    outline-color: transparent;
    opacity: 0.5;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.section-slider button:hover{
    opacity: 1;
}

.section-slider button > i{
 
    transition-duration: 98.7ms;
        -o-transition-duration: 98.7ms;
        -moz-transition-duration: 98.7ms;
        -webkit-transition-duration: 98.7ms; 
}

.section-slider button:focus > i{
    color: inherit;
    opacity: 0.5;
}

.section-slider .slick-dots{
    bottom: 0;
    position: absolute;
    right: 45%;
    opacity: 1;
}

.section-slider .slick-dots button{
    background-color: #fff;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: transparent;
    margin: 0 15px;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

.section-slider .slick-dots .slick-active button{
    border: 3px solid #c81a25;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

@media screen and (max-width: 1199px){
    .section-slider .slick-dots{
        right: 45%;
    }
}

@media screen and (max-width: 991px){
    .section-slider .slick-dots{
        right: 44%;
    }
}


@media screen and (max-width: 767px){
    .section-slider .slick-arrow {
        top: 41%;
    }

    .section-slider .slick-dots{
        right: 42%;
    }
}

@media screen and (max-width: 492px){
    .section-slider .slick-dots{
        right: 37%;
    }
}


@media screen and (max-width: 375px){
    .section-slider button {
        background-color: rgba( 0, 0, 0, 0.3);
        font-size: 20px;
        opacity: 0.9;
        border-radius: 100%;
        width: 25px;
        height: 25px;
    }

    .section-slider .slick-arrow {
        top: 37%;
    }

    .section-slider .slick-dots{
        right: 32%;
    }
}